@import "modules/reset";

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	width: 1em;
	height: 1em;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

// Rules for sizing the icon.
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

// Rules for using icons as black on a light background.
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

// Rules for using icons as white on a dark background.
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

body {
	font-family: sans-serif;
	font-size: 1em;
}

h1 {
	font-size: 1.75em;
}

$green:			#329f81;
$light-green:	#74d3b9;
$dark-green:	#1e5e4d;


header {
	background: $green;
	border-bottom: 5px solid $dark-green;
	padding: 20px;
	color: white;
}

.btn-round {
	background-color: $green;
	border: none;
	border-radius: 28px;
	width: 56px;
	height: 56px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	line-height: 1;
	font-size: 36px;
	position: relative;
	cursor: pointer;
}

#page-container {
	position: relative;

	video {
		width: 100%;
	}

	.corners {
		.corner {
			$margin: 20px;

			position: absolute;
			width: 60px;
			height: 15px;
			background: white;

			&:after {
				display: block;
				content: "";
				background: white;
			}

			&.top-left {
				top: $margin;
				left: $margin;

				&:after {
					width: 15px;
					height: 45px;
					margin-top: 15px;
				}
			}
			&.top-right {
				top: $margin;
				right: $margin;

				&:after {
					width: 15px;
					height: 45px;
					margin-left: 45px;
					margin-top: 15px;
				}
			}
			&.bottom-left {
				bottom: $margin + 20px;
				left: $margin;

				&:after {
					width: 15px;
					height: 45px;
					margin-top: -45px;
				}
			}
			&.bottom-right {
				bottom: $margin + 20px;
				right: $margin;

				&:after {
					width: 15px;
					height: 45px;
					margin-left: 45px;
					margin-top: -45px;
				}
			}
		}
	}

	#take-pic, #retry-pic, #send-pic {
		position: absolute;
		left: 50%;
		margin-left: -28px;
		bottom: 50px;
	}
	#take-pic {

	}
	#retry-pic {
		display: none;
		margin-left: -38px;
	}
	#send-pic {
		display: none;
		margin-left: 38px;
	}
}